:root {
  color-scheme: light;
  --header-light-height: 9rem;
  --header-nav-height: 3rem;
  --header-offset: 12rem;
  --header-offset-compact: 3rem;
}

@media (max-width: 1249.98px) and (min-width: 768px) {
  :root {
    --header-light-height: 8.5rem;
    --header-nav-height: 2.75rem;
    --header-offset: 11.25rem;
    --header-offset-compact: 2.75rem;
  }
}

@media (max-width: 1249.98px) and (min-width: 768px) {
  :root {
    --header-light-height: 5.5rem;
    --header-nav-height: 0px;
    --header-offset: 5.5rem;
    --header-offset-compact: 5.5rem;
  }
}

@media (max-width: 767.98px) {
  :root {
    --header-light-height: 3.25rem;
    --header-nav-height: 0px;
    --header-offset: 3.25rem;
    --header-offset-compact: 3.25rem;
  }
}

body {
  font-family: var(--font-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-light);
  line-height: var(--lh-base);
  color: var(--color-black);
}

html.is-not-found-page main {
  padding-top: var(--header-light-height, 4.25rem);
}

main {
  flex: 1;
}

