:root {
  --container-max: 1500px;
  --container-pad-desktop: 40px;
  --container-pad-tablet: 24px;
  --container-pad-mobile: 16px;

  --bp-desktop: 1250px;
  --bp-tablet: 768px;
  --bp-mobile-max: 767.98px;
  --bp-tablet-max: 1249.98px;
}

